<br>
<%= link_to '投稿を作成', new_picture_path %><br>
<% @pictures.reverse_each do |picture| %>
  <%= picture.user.name %><br>
  <%= picture.created_at %><br>
  <%= picture.content %><br>
  <%= image_tag picture.image.url, width:500 %><br>
  <div class="btn-group" role="group" aria-label="...">
    <table>
      <td><%= link_to "詳細", picture_path(picture.id), class: "btn btn-default" %></td>
      <td><%= link_to "編集", edit_picture_path(picture.id), class: "btn btn-default", data: { confirm: '本当に編集しますか？' } %></td>
      <td><%= link_to '削除', picture_path(picture.id), class: "btn btn-default", method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
    </table>
  </div>
<% end %>
